In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns
import numpy as np
import vispy
from tqdm import tqdm
import lightgbm as lgb
import re
from sklearn.metrics import *
from sklearn.model_selection import KFold

In [2]:
# tre = pd.read_csv("../data/train_err_datetime.csv")
# tse = pd.read_csv("../data/test_err_datetime.csv")

# tre.time =  pd.to_datetime(tre.time)
# tse.time =  pd.to_datetime(tse.time)

In [ ]:
tre = pd.read_csv("../data/train_err_data.csv")
tse = pd.read_csv("../data/test_err_data.csv")

In [ ]:
tre.time =pd.to_datetime(tre.time.astype('str'))
tse.time =pd.to_datetime(tse.time.astype('str'))

컬럼명가져오기

In [3]:
def check_unique(col,df1,df2):
    def change_len(x):
        if len(x) ==10:
            return x[:5]
        else:
            return x
    print("about",col)
    if col !='fwvers':
        train_c = set(df1[col].unique())
        test_c  = set(df2[col].unique())
        print("train only in %s "%col,train_c-test_c)
        print("test only in %s "%col,test_c -train_c)
        total = (train_c | test_c)
    else:
        train_c = set(df1[col].apply(change_len).unique())
        test_c  = set(df2[col].apply(change_len).unique())
        print("train only in %s "%col,train_c-test_c)
        print("test only in %s "%col,test_c -train_c)
        total = (train_c | test_c)        
        
    print()
        
    return total

model_total=check_unique('model_nm',tre,tse)
errtype_total=check_unique('errtype',tre,tse)
fwver_total = check_unique('fwver',tre,tse)

about model_nm
train only in model_nm  set()
test only in model_nm  set()

about errtype
train only in errtype  set()
test only in errtype  set()

about fwver
train only in fwver  {'04.22.1442', '04.33.1095', '04.16.2641', '04.16.3345', '05.15.2122', '05.15.2090'}
test only in fwver  {'04.22.1772', '04.22.1608', '04.73.2569', '04.73.2577', '04.22.1170', '04.22.1448', '10.22.1770', '04.22.1478', '10.22.1780'}

각 데이터의 변환

In [4]:
def dataset_trans(df,types,Num_df_user,Num_errtype,First_index):
    
    
    num_df_user = Num_df_user
    num_errtype =Num_errtype
    first_index = First_index
    num_model_change =2

    
    #----------------------------------------------errtype
    errtypes = np.zeros((num_df_user,num_errtype))
    err = df[['user_id','errtype']].values

    for inx, value in tqdm(err):
        errtypes[inx-first_index,value-1] +=1


    # ---------------------------------------------model_change
    v=df[['user_id','model_nm']]
    getdf =~(v == v.shift(1))
    logical =(getdf.user_id.apply(int) + getdf.model_nm.apply(int)) > 0
    df_model_counts =v[logical]


    def get_model_change_id(num):
        df_mc = df_model_counts.user_id.value_counts()
        df_mc_user=list(df_mc.loc[df_mc ==num].to_frame().index)
        sort_mc_user = df.loc[df.user_id.isin(df_mc_user)].drop_duplicates(['user_id','model_nm'],keep='last').drop_duplicates('user_id',keep='first').sort_values("time").user_id
        return sort_mc_user.values

    one_m = get_model_change_id(1)
    two_m = get_model_change_id(2)
    thr_m = get_model_change_id(3)


    model_n = np.zeros((num_df_user,num_model_change))
    df['model_f'] =df['model_nm'].str[-1].astype('int')
    one_df = df.loc[df.user_id.isin(one_m)][['user_id','model_f']].drop_duplicates().values
    two_df =df.loc[df.user_id.isin(two_m)][['user_id','model_f']].drop_duplicates().reset_index(drop=True)
    two_df['tf'] = two_df.index%2
    two_df= two_df.pivot(index='user_id',columns='tf').reset_index().values
    thr_df = df.loc[df.user_id.isin(thr_m)][['user_id','model_f']].drop_duplicates().values

    for inx, value in tqdm(one_df):
        model_n[inx-first_index,0]  +=value
    for inx, value1,value2 in tqdm(two_df):
        model_n[inx-first_index,0]  +=value1
        model_n[inx-first_index,1]  +=value2

    for inx, value in tqdm(thr_df):
        model_n[inx-first_index,0]  +=value


    # ---------------------------------------------fw change
    fwver_total_dic ={}
    for v in range(len(fwver_total)):
        fwver_total_dic[sorted(list(fwver_total))[v]] = v

    def fwver_tran(x):
        return fwver_total_dic[x]


    df['ver_num'] = df['fwver'].apply(fwver_tran)
    fwver_np = np.zeros((num_df_user,5))

    v3=df[['user_id','ver_num']]
    getdf =~(v3 == v3.shift(1))
    logical =(getdf.user_id.apply(int) + getdf.ver_num.apply(int)) > 0
    fwver_num=v3[logical]

    fwver_num = fwver_num.reset_index(drop=True)
    count =np.zeros(len(fwver_num),dtype=int)

    for v in range(1,len(fwver_num)):
        if fwver_num.user_id.values[v-1] ==fwver_num.user_id.values[v]:
            count[v] = count[v-1] +1


    fwver_num['count'] =count
    fw_v = fwver_num.loc[fwver_num['count'].isin([0,1,2,3,4])].pivot(index='user_id',columns='count').reset_index().fillna(0).values
    fw_v =fw_v.astype('int64')

    
    
    
    for inx, v1,v2,v3,v4,v5 in tqdm(fw_v):
        fwver_np[inx-first_index,0] =v1
        fwver_np[inx-first_index,1] =v2
        fwver_np[inx-first_index,2] =v3
        fwver_np[inx-first_index,3] =v4
        fwver_np[inx-first_index,4] =v5

    #---------------------------------------------------------- errtype_ mean_std
    df['day'] =df.time.dt.day
    df['week'] =df.time.dt.isocalendar().week

    df = df.loc[(df.time >=pd.to_datetime('2020-11-01 00:00:00')) &(df.time <=pd.to_datetime('2020-11-30 23:59:59'))]
    datas = df[['user_id','errtype','week']]
    df_=datas[['user_id','week','errtype']].value_counts().to_frame().reset_index()
    df_ =df_.sort_values(['user_id','week']).rename(columns = {0:'counts'}).reset_index(drop=True)

    df1 =df_.loc[df_.week ==44][['user_id','errtype','counts']].values
    df2 =df_.loc[df_.week ==45][['user_id','errtype','counts']].values
    df3 =df_.loc[df_.week ==46][['user_id','errtype','counts']].values
    df4 =df_.loc[df_.week ==47][['user_id','errtype','counts']].values
    df5 =df_.loc[df_.week ==48][['user_id','errtype','counts']].values

    day_data = np.zeros((num_df_user,42,5))
    for i, dfa in enumerate([df1,df2,df3,df4,df5]):
        for inx , val1 ,val2 in tqdm(dfa):
            day_data[:,:,i][inx-first_index,val1-1] = val2

    m=day_data.mean(axis=2)
    std=day_data.std(axis=2)       
        

        
        
    #----------------------------------------------------------- 예은님 qulitydata
        
    #-----------------------------------------------------------


    #train data의 경우 label 까지 출력
    if types == 'train':
        def tf(x):
            if x>=1:
                return 1
            else:
                return 0
        df['tf'] =df.count_e.apply(tf)
        label=df[['user_id','tf']].drop_duplicates().values[:,1].reshape(-1,1)

        return [fwver_np,model_n,errtypes, m,std   ,                   label]

    else:
        return [fwver_np,model_n, m ,std , errtypes]

In [5]:
%%time
datalist =dataset_trans(tre,'train',15000,42,10000)
train_data = np.concatenate(tuple(datalist[:-1]),axis=1)
label = datalist[-1]

100%|██████████| 16554663/16554663 [00:39<00:00, 423788.55it/s]
100%|██████████| 14297/14297 [00:00<00:00, 315331.52it/s]
100%|██████████| 700/700 [00:00<00:00, 95844.77it/s]
100%|██████████| 7/7 [00:00<00:00, 20488.58it/s]
100%|██████████| 15000/15000 [00:00<00:00, 252239.40it/s]
100%|██████████| 94313/94313 [00:00<00:00, 385484.26it/s]
100%|██████████| 157755/157755 [00:00<00:00, 413968.29it/s]
100%|██████████| 168569/168569 [00:00<00:00, 414930.55it/s]
100%|██████████| 166219/166219 [00:00<00:00, 382299.39it/s]
100%|██████████| 170912/170912 [00:00<00:00, 412560.27it/s]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

CPU times: user 1min 37s, sys: 1min 24s, total: 3min 2s
Wall time: 3min 8s

In [6]:
%%time
datatest =dataset_trans(tse,'test',14999,42,30000)
test_data = np.concatenate(tuple(datatest),axis=1)

100%|██████████| 16532648/16532648 [00:39<00:00, 423891.06it/s]
100%|██████████| 14339/14339 [00:00<00:00, 494740.38it/s]
100%|██████████| 658/658 [00:00<00:00, 321211.83it/s]
100%|██████████| 2/2 [00:00<00:00, 10356.31it/s]
100%|██████████| 14998/14998 [00:00<00:00, 269850.38it/s]
100%|██████████| 94477/94477 [00:00<00:00, 405803.67it/s]
100%|██████████| 157734/157734 [00:00<00:00, 374497.32it/s]
100%|██████████| 168791/168791 [00:00<00:00, 384484.83it/s]
100%|██████████| 166528/166528 [00:00<00:00, 414009.40it/s]
100%|██████████| 171655/171655 [00:00<00:00, 358133.46it/s]

CPU times: user 1min 29s, sys: 8.38 s, total: 1min 37s
Wall time: 1min 37s

In [10]:
pb = pd.read_csv("../data/train_problem_data.csv")

In [46]:
qb = pd.read_csv("../data/train_quality_data.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
trq = pd.read_csv('../data/train_quality_vars_ver1(stats_flags).csv')
tsq = pd.read_csv('../data/test_quality_vars_ver1(stats_flags).csv')

In [21]:
trq

,user_id,time,q1var,q1mean,q1count,q1cv,q1mcount,q2var,q2mean,q2count,...,q11cv,q11mcount,date,uid_t_cnt,q02check,quality_10,quality_12,quality_7,quality_8,quality_9
0,10010,20201116201000,0.000000,1.000000,1.0,0.000000,9.0,0.0,0.0,0.0,...,0.0,9,20201116,12,1,2,0,0,1,0
1,10019,20201103203000,0.666667,2.000000,4.0,0.408248,0.0,0.0,0.0,0.0,...,0.0,0,20201103,12,1,0,0,0,8,0
2,10019,20201121090000,1.333333,1.666667,3.0,0.692820,0.0,0.0,0.0,0.0,...,0.0,0,20201121,12,1,19851,0,0,5,0
3,10019,20201123203000,0.619048,1.571429,7.0,0.500688,0.0,0.0,0.0,0.0,...,0.0,0,20201123,12,1,144,0,0,11,0
4,10032,20201108105000,0.000000,1.000000,1.0,0.000000,1.0,0.0,0.0,0.0,...,0.0,1,20201108,12,1,2,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68947,24993,20201130203000,0.000000,0.000000,0.0,0.000000,3.0,0.0,0.0,0.0,...,0.0,3,20201130,12,1,5,0,0,0,0
68948,24995,20201128202000,0.000000,0.000000,0.0,0.000000,8.0,0.0,0.0,0.0,...,0.0,8,20201128,12,1,2,0,0,0,0
68949,24995,20201129002000,0.000000,0.000000,0.0,0.000000,2.0,0.0,0.0,0.0,...,0.0,2,20201129,12,1,3,0,0,0,0
68950,24997,20201108230000,0.000000,0.000000,0.0,0.000000,4.0,0.0,0.0,0.0,...,0.0,4,20201108,12,1,2,0,0,0,0
68951,24997,20201124033000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0,20201124,12,1,17,0,0,0,0

In [28]:
trq.user_id.value_counts().describe()

count    8281.000000
mean        8.326531
std        22.400912
min         1.000000
25%         1.000000
50%         2.000000
75%         6.000000
max       352.000000
Name: user_id, dtype: float64

In [36]:
tqid = trq.user_id.value_counts().to_frame().reset_index()
tqid.columns = ['user_id','count']

In [61]:
tr = pd.DataFrame(train_data).reset_index().rename(columns={"index":"user_id"})

In [62]:
tr['user_id'] =tr['user_id']+10000

In [75]:
tr_q = tr.loc[tr.user_id.isin(qb.user_id.unique())].reset_index(drop=True)

In [82]:
ladf = pd.DataFrame(label).reset_index().rename(columns={'index':'user_id',0:'label'})
ladf.user_id =ladf.user_id +10000
la_q  = ladf.loc[ladf.user_id.isin(qb.user_id.unique())].reset_index(drop=True)

In [83]:
pd.merge(tr_q,la_q,on='user_id')

,user_id,0,1,2,3,4,5,6,7,8,...,124,125,126,127,128,129,130,131,132,label
0,10000,38.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0
1,10002,38.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0
2,10004,17.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.4,0.4,0.0,0.0,0.979796,0.000000,0.800000,1
3,10005,17.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.4,1.2,0.4,0.4,0.0,0.8,6.523803,4.604346,0.800000,1
4,10006,6.0,25.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,...,29.6,0.4,0.4,0.4,0.0,0.0,4.800000,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8276,24990,2.0,0.0,0.0,0.0,0.0,4.0,0.0,65.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,1
8277,24992,17.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.4,0.4,0.0,0.0,1.600000,0.800000,0.400000,0
8278,24993,38.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0
8279,24995,25.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.959592,2.800000,1.200000,0
8280,24997,17.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.8,0.0,0.4,0.4,0.0,0.0,12.419340,3.200000,1.549193,1

In [31]:
test_data.shape

(14999, 133)

In [ ]:
def ye_data_append():